.autocomplete-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  z-index: 30;
  // margin: 80px 0 0 0;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
}

.autocomplete {
  padding: 10px 0 ;
  border-radius: 10px;
  background-color: rgb(32, 42, 85);
  width: 100%; 

  & li {
    padding: 16px 20px;
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;

    &:hover {
      background-color: rgb(69, 72, 84);
    }
  }

  & p {
    font-size: 18px;
    margin: 0;
    padding: 20px;
  }

  &-warning {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.warning-bg-color {
  background-color: rgb(192, 41, 41);
}