.label {
  position: relative;
}

.form-label-name {
  font-size: 18px;
  margin: 0 0 7px 0;

  &::after {
    content: '*';
    color: rgb(222, 108, 108);
    margin: 5px;
  }
}

.form-input-container {
  position: relative;
  width: 100%;

  & input { 
    padding: 0 15px;
    border: 1px solid gray;
    border-radius: 10px;
    min-width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: transparent;
    color: inherit;
    font-size: 18px;

    &:focus {
      outline: 1px solid $focus-color;
    }
  }
}

.form-input-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  align-items: center;

  & > svg {
    height: 24px;
    width: 24px;
  }

  & button > svg {
    height: 24px;
    width: 24px;
    z-index: 30;
  }
}

input[type='date'] {
  border: 1px solid gray;
  padding: 15px;
  border-radius: 10px;
  min-width: 100%;
  height: 50px;
  cursor: pointer;
  box-sizing: border-box;
}

input::-webkit-datetime-edit {
  color: $main-color;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

input::-webkit-calendar-picker-indicator {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}