.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  padding: 20px;
}

.fixed {
  background-color: rgba(177, 177, 177, 0.1);
  backdrop-filter: blur(50px);
}

.nav {
  @include flex($jsf-content: space-between, $align: center);

  & svg {
    width:  calc((6vw + 2vmin) );
    height:  calc((6vw + 2vmin) );
  }
}


