.title {
  font-size: calc(14vw + 2vmin);
  margin: 0;
  font-weight: 900;
  text-align: center;
}

.subtitle {
  font-size: calc(5vw + 2vmin);
  font-weight: 500;
  margin: 0;
}

.card-title {
  font-size: calc(2.5vw + 1.9vmin);
  font-weight: 400;
  margin: 0;
}

.trip-card-date {
  margin: 0;
  font-size: calc(1.5vw + 2vmin);
}

.slide-title {
  font-size: calc(10vw + 2vmin);
  margin: 0;
  font-weight: 900;
  text-align: center;
}

