$main-color: #ebebeb;
$secondary-color: rgb(128, 128, 128);
$focus-color: rgb(204, 255, 255);
$hover-color: rgba(204, 255, 255,0.5);
$interactive-modul-color: rgb(40,40,40);
$max-temp-color: rgb(255, 255, 204);


$modals-bg-color: rgba(13,16,33);
$cast-card-bg: rgba(13,16,33,0.5);
$cast-card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$trip-card-bg: rgba(13,16,33,0.5);
$skeleton-bg: rgba(30, 30, 30, 0.3);